services:
    db:
        image: postgres:17-alpine
        container_name: postgres-tingeso
        restart: always
        environment:
            POSTGRES_DB: tingeso
            POSTGRES_USER: root
            POSTGRES_PASSWORD: Lucciano2003
        ports:
            - "5433:5432"
        volumes:
            - db_data:/var/lib/postgresql/data

    backend:
        image: lscapini/toolrent-backend:latest
        container_name: toolrent-backend
        depends_on:
            - db
        environment:
            DB_URL: jdbc:postgresql://db:5432/tingeso
            DB_USERNAME: root
            DB_PASSWORD: Lucciano2003
        restart: always

    backend_1:
        image: lscapini/toolrent-backend:latest
        container_name: toolrent-backend-1
        depends_on:
            - db
        environment:
            DB_URL: jdbc:postgresql://db:5432/tingeso
            DB_USERNAME: root
            DB_PASSWORD: Lucciano2003
        restart: always

    backend_2:
        image: lscapini/toolrent-backend:latest
        container_name: toolrent-backend-2
        depends_on:
            - db
        environment:
            DB_URL: jdbc:postgresql://db:5432/tingeso
            DB_USERNAME: root
            DB_PASSWORD: Lucciano2003
        restart: always

    frontend:
        image: lscapini/toolrent-frontend:latest
        container_name: toolrent-frontend
        depends_on:
            - backend
        restart: always

    frontend_1:
        image: lscapini/toolrent-frontend:latest
        container_name: toolrent-frontend-1
        depends_on:
            - backend
            - backend_1
            - backend_2
        restart: always

    frontend_2:
        image: lscapini/toolrent-frontend:latest
        container_name: toolrent-frontend-2
        depends_on:
            - backend
            - backend_1
            - backend_2
        restart: always

    nginx-lb-backend:
        image: nginx:stable-alpine
        container_name: nginx-lb-backend
        depends_on:
            - backend
            - backend_1
            - backend_2
        ports:
            - "8080:8080"
        volumes:
            - ./nginx/backend.conf:/etc/nginx/conf.d/backend.conf:ro
        restart: always

    nginx-lb-frontend:
        image: nginx:stable-alpine
        container_name: nginx-lb-frontend
        depends_on:
            - frontend
            - frontend_1
            - frontend_2
        ports:
            - "80:80"
        volumes:
            - ./nginx/frontend.conf:/etc/nginx/conf.d/default.conf:ro
        restart: always

    keycloak-db:
        image: postgres:17-alpine
        container_name: postgres-keycloak
        restart: always
        environment:
            POSTGRES_DB: keycloak
            POSTGRES_USER: keycloak
            POSTGRES_PASSWORD: keycloakpass
        volumes:
            - keycloak_db_data:/var/lib/postgresql/data

    keycloak:
        image: quay.io/keycloak/keycloak:24.0.3
        container_name: keycloak
        environment:
            KEYCLOAK_ADMIN: admin
            KEYCLOAK_ADMIN_PASSWORD: admin
            KC_DB: postgres
            KC_DB_URL: jdbc:postgresql://keycloak-db:5432/keycloak
            KC_DB_USERNAME: keycloak
            KC_DB_PASSWORD: keycloakpass
        command: start-dev
        ports:
            - "9019:8080"
        depends_on:
            - keycloak-db
        restart: always

volumes:
    db_data:
    keycloak_db_data:
