version: "3.8"

services:
  db:
    image: postgres:17-alpine
    container_name: postgres-tingeso
    restart: always
    environment:
      POSTGRES_DB: tingeso
      POSTGRES_USER: root
      POSTGRES_PASSWORD: Lucciano2003
    ports:
      - "5433:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - backend-network

  backend1:
    image: lscapini/toolrent-backend:latest
    container_name: toolrent-backend-1
    depends_on:
      - db
    environment:
      DB_URL: jdbc:postgresql://db:5432/tingeso
      DB_USERNAME: root
      DB_PASSWORD: Lucciano2003
    expose:
      - "8080"
    restart: always
    networks:
      - backend-network

  backend2:
    image: lscapini/toolrent-backend:latest
    container_name: toolrent-backend-2
    depends_on:
      - db
    environment:
      DB_URL: jdbc:postgresql://db:5432/tingeso
      DB_USERNAME: root
      DB_PASSWORD: Lucciano2003
    expose:
      - "8080"
    restart: always
    networks:
      - backend-network

  backend3:
    image: lscapini/toolrent-backend:latest
    container_name: toolrent-backend-3
    depends_on:
      - db
    environment:
      DB_URL: jdbc:postgresql://db:5432/tingeso
      DB_USERNAME: root
      DB_PASSWORD: Lucciano2003
    expose:
      - "8080"
    restart: always
    networks:
      - backend-network

  nginx-backend:
    image: nginx:latest
    container_name: nginx-backend
    depends_on:
      - backend1
      - backend2
      - backend3
    ports:
      - "8090:80"
    volumes:
      - ./nginx/backend.conf:/etc/nginx/conf.d/default.conf:ro
    restart: always
    networks:
      - backend-network

  frontend1:
    image: lscapini/toolrent-frontend:latest
    container_name: toolrent-frontend-1
    expose:
      - "80"
    restart: always
    networks:
      - frontend-network

  frontend2:
    image: lscapini/toolrent-frontend:latest
    container_name: toolrent-frontend-2
    expose:
      - "80"
    restart: always
    networks:
      - frontend-network

  frontend3:
    image: lscapini/toolrent-frontend:latest
    container_name: toolrent-frontend-3
    expose:
      - "80"
    restart: always
    networks:
      - frontend-network

  nginx-frontend:
    image: nginx:latest
    container_name: nginx-frontend
    depends_on:
      - frontend1
      - frontend2
      - frontend3
    ports:
      - "8070:80"
    volumes:
      - ./nginx/frontend.conf:/etc/nginx/conf.d/default.conf:ro
    restart: always
    networks:
      - frontend-network

  keycloak-db:
    image: postgres:17-alpine
    container_name: postgres-keycloak
    restart: always
    environment:
      POSTGRES_DB: keycloak
      POSTGRES_USER: keycloak
      POSTGRES_PASSWORD: keycloakpass
    volumes:
      - keycloak_db_data:/var/lib/postgresql/data
    networks:
      - backend-network

  keycloak:
    image: quay.io/keycloak/keycloak:24.0.3
    container_name: keycloak
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://keycloak-db:5432/keycloak
      KC_DB_USERNAME: keycloak
      KC_DB_PASSWORD: keycloakpass
    command: start-dev
    ports:
      - "9090:8080"
    depends_on:
      - keycloak-db
    restart: always
    networks:
      - backend-network

volumes:
  db_data:
  keycloak_db_data:

networks:
  frontend-network:
    driver: bridge
  backend-network:
    driver: bridge
